<div class="setting-backdrop">
    <div class="setting-container">
        <div class="header">
            <img src="images/logo-icon-white.png" alt="Logo"> 
            <h2>Update Profile Details</h2>
        </div>
        
        <form action="/updateAccount" method="post">
            <div class="setting-form">
            <!-- Right Column Inputs -->
            <div class="form-column">
                <div class="form-control">
                <label for="email">NEW E-MAIL</label>
                <input type="email" id="email" name="email"  value="{{email}}">
                </div>
                
                <div class="form-control">
                <label for="username">NEW USERNAME</label>
                <input type="text" id="username" name="username" value="{{username}}">
                </div>
                
                <div class="form-control">
                <label for="password">NEW PASSWORD</label>
                <input type="password" id="password" name="password">
                </div>

                <div class="form-control">
                <label for="old-password">OLD PASSWORD</label>
                <input type="password" id="old-password" name="old-password">
                </div>
            </div>

            <!-- Left Column Inputs -->
            <div class="form-column">
                <div class="form-control">
                <label for="firstname">NEW FIRST NAME</label>
                <input type="text" id="firstname" name="firstname" value="{{fname}}">
                </div>
                
                <div class="form-control">
                <label for="lastname">NEW LAST NAME</label>
                <input type="text" id="lastname" name="lastname" value="{{lname}}">
                </div>
                
                <div class="form-control">
                <label for="confirm-password">CONFIRM NEW PASSWORD</label>
                <input type="password" id="confirm-password" name="confirm-password">
                </div>

                <div class="form-control">
                <label for="bio">NEW BIO</label>
                <textarea id="bio" name="bio" value="{{bio}}"></textarea>
                </div>
            </div>
            </div>
            
            
            <div class="error">

            </div>
            
            <button type="submit" class="setting-btn">UPDATE</button>
        </form>

        <div class="update-footer">
            <p>Keep current profile settings? <a href="profile_page.html">Go Back to Profile</a></p>
        </div>
    </div>
</div>